#loggedout {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
#loggedin {
    display: none;
}

#header {
    padding: 4px;
    border-bottom: 1px solid #000;
    background: #eee;
}

#output {
    padding: 4px;
}
body {

  width: 12in;
  height: 4in;
}

.card {
/*    float: left;*/
    height: 4in;
    width: 5.5in;
    padding: 2em;
    position: relative;
    margin-bottom: .1in;
    margin-right: .1in;
    border-bottom: 2px dashed black;
    border-right: 2px dashed black;
    float: left;
}
.card:nth-child(5n+2) {
  border-right: none;
}
.card:nth-child(5n+4) {
  border-right: none;
}
.card:nth-child(5n+3) {
  border-bottom: none;
}
.card:nth-child(5n+4) {
  border-bottom: none;
}
/*.card:first-child {
  height: 2.8in;
}*/
.card .inner {
  position: absolute;
  top: 0em;
  left: 0em;
  right: .1in;
  bottom: .4in;
  overflow: hidden;
}
.card .gradient {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  position: absolute;
  bottom: 0;
  height: 2em;
  width: 100%;
}
.card .members {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: right;
  position: absolute;
  left: 0em;
  bottom: .1in;
}
.card .members li {
  display: inline;
  padding: 0 .5em;
  float: left;
}
.card .points {
  position: absolute;
  bottom: .1in;
  right: .1in;
  font-size: .25in;
}

h2 {
  font-size: .3in;
  margin-top: 0;
}
.clear {
  clear:both;
}



/* print styles */
@media print {
  body {
    padding: 0;
  }
  .card:nth-child(4n) {
    /*clear: both;*/
    /*page-break-after: always;*/
  }
  .clear {
    page-break-before: always;
  }
  #header, #boards, #lists, #loggedout {
    display: none;
  }
}
